TELEGRAM_PRICE_BOT_TOKEN=your_price_bot_token_here
TELEGRAM_PRICE_BOT_USERNAME=your_price_bot_username_here
TELEGRAM_OI_BOT_TOKEN=your_oi_bot_token_here
TELEGRAM_OI_BOT_USERNAME=your_oi_bot_username_here
TELEGRAM_LIQUIDATION_BOT_TOKEN=your_liquidation_bot_token_here
TELEGRAM_LIQUIDATION_BOT_USERNAME=your_liquidation_bot_username_here
DB_USERNAME=tradingbot
DB_PASSWORD=tradingbot
